/* // NOTE: the order of these styles DO matter */

.PresetDateRangePicker_button {
    border: 2px solid rgba(248, 115, 32, .5); ;
    color: rgba(248, 115, 32, .5); ;
}

/* // Will edit everything selected including everything between a range of dates */
.CalendarDay__selected_span {
  background:rgba(248, 115, 32, .5); 
  /* //background */
  color: white; 
  /* //text */
  border: 1px solid; 
  border-color: white;
  /* //default styles include a border */
}

/* // Will edit selected date or the endpoints of a range of dates */
.CalendarDay__selected {
  background: rgba(248, 115, 32, .8);;
  color: white;
}

/* // Will edit when hovered over. _span style also has this property */
.CalendarDay__selected:hover {
  background: orange;
  color: white;
}

/* // Will edit when the second date (end date) in a range of dates
// is not yet selected. Edits the dates between your mouse and said date */
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: rgba(248, 115, 32, .5);;
}