.ribbon{
    font-size:15px;
    position:absolute;
    display:inline-block;
    text-align:center;
    color: #474747;
  }


  @media all and (max-width: 760px) {
    .ribbon{
        font-size:12px;
        margin: 1% 0 0 0;
      }
  }

  @media all and (max-width: 600px) {
    .ribbon{
        font-size:9px;
        margin: 2% 0 0 0;
      }
  }

  .textRibbon{
    display:inline-block;
    padding:0.5em 1em;
    min-width:20em;
    line-height:1.2em;
    background: #FFD72A;
    position:relative;
  }
  .ribbon:after,.ribbon:before,
  .textRibbon:before,.textRibbon:after,
  .bold:before{
    content:'';
    position:absolute;
    border-style:solid;
  }
  .ribbon:before{
    top:0.3em; left:0.2em;
    width:50%; height:50%;
    border:none;
    background:#EBECED;
    /* z-index:-2; */
  }
  .textRibbon:before{
    bottom:100%; left:0;
    border-width: .5em .7em 0 0;
    border-color: transparent #FC9544 transparent transparent;
  }
  .textRibbon:after{
    top:100%; right:0;
    border-width: .5em 2em 0 0;
    border-color: #FC9544 transparent transparent transparent;
  }
  .ribbon:after, .bold:before{
    top:0.5em;right:-2em;
    border-width: 1.1em 1em 1.1em 3em;
    border-color: #FECC30 transparent #FECC30 #FECC30;
    z-index:-1;
  }
  .bold:before{
    border-color: #EBECED transparent #EBECED #EBECED;
    top:0.7em;
    right:-2.3em;
  }
